.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  width: 9rem;
  padding: 5px;
  transition: border-color 0.3s; /* Added transition for smoother feedback */
  box-sizing: border-box; /* Include padding and borders in the width */
}

.input-container.submitted {
  border-color: #4caf50; /* Change border color on submission */
}

.input-container input {
  border: none;
  width: 100%;
  -mox-appearance: textfield; /* Remove spinners on number inputs */
  appearance: textfield; /* Define standard property for compatibility */
  box-sizing: border-box; /* Include padding and borders in the width */

}

.input-container input:focus {
  outline: none;
}

.input-container span {
  margin-left: 5px;
}